button {
    margin-top: 1vmax;
    cursor: pointer;
    background-color: orange;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    padding: 0.05vmax;
    transition: all 0.5s;
    width: 7vmax;
    font-weight: bold;
}
button:hover {
    background-color: white;
    color: orange;
    border: 1px solid orange;
}