footer {
    margin-top: 2vmax;
    padding: 1vmax;
    background-color: rgba(34, 33, 33, 0.699);
    color: rgba(255, 255, 255, 0.849);
    display: flex;
    justify-content: left;
    align-items: left;
  }
  
  .midFooter {
    width: 60%;
    text-align: left;
    padding-left: 5px;
  }
  
  .midFooter > h5 {
    font-family: "Roboto";
    color: rgba(255, 166, 0, 0.904);
  }
  .midFooter > p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin: 1vmax auto;
  }
  
  .rightFooter {
    display: flex;
    flex-direction: column;
    align-items: right;
  }
  .rightFooter > h4 {
      color: rgba(255, 166, 0, 0.904);
    font-family: "Roboto";
    font-size: 1.4vmax;
  }
  .rightFooter > h4 > svg {
      fill: rgba(255, 166, 0, 0.904);
  }
  