.banner{
    background-image: linear-gradient(to right, rgba(255, 166, 0, 0.541), orange);
    height: 65vmin;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
}
.banner > a > button {
    margin-top: 1vmax;
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
    color: orange;
    border-radius: 2px;
    padding: 0.05vmax;
    transition: all 0.5s;
    width: 7vmax;
    font-weight: bold;
}
.banner > a > button:hover {
    background-color: orange;
    color: white;
}
.banner::after {
    content: "";
    width: 100vw;
    height: 80vmin;
    background-color: #ffffff;
    position: absolute;
    top: 0%;
    left: 0;
    clip-path: polygon(100% 75%, -9% 100%, 100% 100%);
    max-width: 100%;
  }
  .homeHeading {
    text-align: center;
    font-family: Roboto;
    font-size: 2.5vmax;
    border-bottom: 1px solid rgb(255, 123, 0);
    width: 20vmax;
    padding: 1vmax;
    margin: 5vmax auto;
    color: rgb(255, 123, 0);
  }
 