body{
    margin: 0;
    padding: 0;
}
.nav{
    z-index: 1000;
    position: sticky;
    top: 0;
    background-color: white;
    padding: 1vmax;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border-bottom: 0.5px solid black; */
    box-shadow: 2px 2px 2px rgb(184, 181, 181);
}
.logo{
   border-radius: 20px;
   display: flex;
    flex-direction: row;
    justify-content: center;
   position: relative;
}
.logo > div{
    color: rgb(59, 59, 59);
    text-decoration: none;
    margin: 1vmax 2vmax;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 1.4vmax;
}
.navlinks{
    color: rgb(59, 59, 59);
    text-decoration: none;
    margin: 1vmax 2vmax;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 1.1vmax;
    cursor: pointer;
}
.navlinks:hover{
    color: orangered;
    text-decoration: none;
}
.bag{
    color: rgb(59, 59, 59);
    text-decoration: none;
    margin: 1vmax 2vmax;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 1.1vmax;
    cursor: pointer;
}
.bag > svg{
    fill: rgb(170, 156, 156);
}
#log > svg{
    fill: rgb(170, 156, 156);
}
.bag:hover{
    color: orangered;
    text-decoration: none;
}
.searchbox{
    position: relative;
}
.searchbox >input{
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.76);
    width: 15vmax;
    font-size: 1.1vmax;
    outline: none;
    color:rgb(61, 61, 61);
    font-weight: 100;
  }
.searchbox > svg{
    fill: rgb(61, 61, 61);
}
